.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  mat-card {
    padding: 20px;
  }
  
  mat-form-field {
    margin-bottom: 10px;
  }
  .mat-form-field {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .mat-form-field-wrapper {
    flex: 1;
  }